<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Main Window

    <button onclick="createWindow()">Create Window</button>

    <article style="display: flex;">
      <aside style="flex: 0 0 60%">
        <h2>Size:</h2>
        <span id="place"></span>
        <button onclick="fire()">Get Size</button>
        <h2>Record:</h2>
        <button hx-post="nest-electron:///window/1" hx-target="#record">record</button>
        <p id="record">...</p>
        <h2>All Records:</h2>
        <button hx-get="nest-electron:///window/all" hx-target="#all">Get All</button>
        <p id="all">...</p>

        <form
          onsubmit="mySubmit(event);return false;"
          method="post"
          action="nest-electron:///window/webview"
        >
          <h2>New Session</h2>
          <label>Partition</label>
          <input type="text" name="partition"></input>
          <div hx-get="nest-electron:///window/sessions" hx-trigger="load"></div>
          <input type="submit" value="Submit"></input>
        </form>
      </aside>
      <main>
        <h2>Meesages:</h2>
        <button onclick="closeServerSidePush()">Close Server-Side-Push</button>
      </main>
    </article>

    <script src="https://unpkg.com/htmx.org@1.9.0/dist/htmx.js"></script>
    <script>
      function fire() {
        nest.getWindowSize().then(size => {
          htmx.find('#place').innerText = size.join(',')
        })
      }
      function createWindow() {
        nest.createWindow()
      }
      function mySubmit(e) {
        e.preventDefault();
        const form = e.target;
        const formData = new FormData(e.target)
        fetch(form.action, {
          method: form.method,
          // headers: {
          //   'Content-Type': 'application/json'
          // },
          // body: JSON.stringify(Object.fromEntries(formData.entries())),
          body: new URLSearchParams(Object.fromEntries(formData.entries())),
        });
        return false;
      }
    </script>
    <script type="text/javascript">
      const eventSource = new EventSource('nest-electron:///window/sse');
      eventSource.onmessage = ({ data }) => {
        const message = document.createElement('li');
        message.innerText = 'New message: ' + data;
        document.querySelector('main').appendChild(message);
      }
      function closeServerSidePush() {
        eventSource.close();
      }
    </script>
</body>
</html>
