<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.0/dist/htmx.min.js"></script>
</head>
<body>
    Main Window

    <button onclick="createWindow()">Create Window</button>

    <article style="display: flex;">
      <aside style="flex: 0 0 60%">
        <h2>Size:</h2>
        <span id="place"></span>
        <button onclick="fire()">Get Size</button>
        <h2>Record:</h2>
        <button hx-post="nest-electron:///window/1" hx-target="#record">record</button>
        <p id="record">...</p>
        <h2>All Records:</h2>
        <button hx-get="nest-electron:///window/all" hx-target="#all">Get All</button>
        <p id="all">...</p>
      </aside>
      <main>
        <h2>Meesages:</h2>
        <button onclick="closeServerSidePush()">Close Server-Side-Push</button>
      </main>
    </article>

    <script>
      const htmx = module.exports
      function fire() {
        require('electron').ipcRenderer.invoke('getWindowSize').then(size => {
          htmx.find('#place').innerText = size.join(',')
        })
      }
      function createWindow() {
        require('electron').ipcRenderer.send('createWindow')
      }
    </script>
    <script type="text/javascript">
      const eventSource = new EventSource('nest-electron:///window/sse');
      eventSource.onmessage = ({ data }) => {
        const message = document.createElement('li');
        message.innerText = 'New message: ' + data;
        document.querySelector('main').appendChild(message);
      }
      function closeServerSidePush() {
        eventSource.close();
      }
    </script>
</body>
</html>
